<div class="container-fluid">
  <div class="row">
    <a href="/asset-search">Back to Asset Search</a>
  </div>
  <br/>
  <div class="row">
    <div class="">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="assetTab" href="#asset" aria-controls="asset" role="tab" data-toggle="tab"
             aria-selected="true">Asset</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="manufacturerTab" href="#manufacturer" aria-controls="manufacturer" role="tab"
             data-toggle="tab" aria-selected="false">Manufacturer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="roomTab" href="#room" aria-controls="room" role="tab" data-toggle="tab"
             aria-selected="false">Room</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="ownerTab" href="#owner" aria-controls="owner" role="tab" data-toggle="tab"
             aria-selected="false">Owner</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="hardwareConfigurationTab" href="#hardwareConfiguration"
             aria-controls="hardwareConfiguration" role="tab" data-toggle="tab" aria-selected="false">Hardware
            Configuration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="networkConfigurationTab" href="#networkConfiguration"
             aria-controls="networkConfiguration" role="tab" data-toggle="tab" aria-selected="false">Network
            Configuration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="osConfigurationTab" href="#osConfiguration" aria-controls="osConfiguration"
             role="tab" data-toggle="tab" aria-selected="false">OS
            Configuration</a>
        </li>
      </ul>
      <div class="tab-content" id="tabContent">
        <div role="tabpanel" class="tab-pane fade show active" id="asset" aria-labelledby="assetTab">
          <br/>
          <app-asset [asset]="desktopDevice"></app-asset>
          <form>
            <fieldset [disabled]="true">
              <h5>Asset Sub-Details</h5>
              <div class="row">
                <div class="col-10">
                  <div class="form-group row">
                    <div class="col-3">
                      <label>Subtype</label>
                      <input id="desktopDeviceSubType" name="desktopDeviceSubType" class="form-control" type="text" [(ngModel)]="desktopDevice.subType">
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="manufacturer" aria-labelledby="manufacturerTab">
          <br/>
          <app-manufacturer [manufacturer]="desktopDevice.manufacturer"></app-manufacturer>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="room" aria-labelledby="roomTab">
          <br/>
          <app-room [room]="desktopDevice.room"></app-room>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="owner" aria-labelledby="ownerTab">
          <br/>
          <app-business-unit [businessUnit]="desktopDevice.owner"></app-business-unit>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="hardwareConfiguration"
             aria-labelledby="hardwareConfigurationTab">
          <br/>
          <div *ngIf="desktopDevice.hardwareConfiguration == null">
            <a href="#">Add New Hardware Configuration</a>
          </div>
          <app-hardware-configuration *ngIf="desktopDevice.hardwareConfiguration != null"
                                      [hardwareConfiguration]="desktopDevice.hardwareConfiguration"></app-hardware-configuration>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="networkConfiguration"
             aria-labelledby="networkConfigurationTab">
          <br/>
          <div *ngIf="desktopDevice.networkConfiguration == null">
            <a href="#">Add New Network Configuration</a>
          </div>
          <app-network-configuration *ngIf="desktopDevice.networkConfiguration != null"
                                     [networkConfiguration]="desktopDevice.networkConfiguration"></app-network-configuration>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="osConfiguration" aria-labelledby="osConfigurationTab">
          <br/>
          <div *ngIf="desktopDevice.osConfiguration == null">
            <a href="#">Add New OS Configuration</a>
          </div>
          <app-osconfiguration *ngIf="desktopDevice.osConfiguration != null"
                               [osConfiguration]="desktopDevice.osConfiguration"></app-osconfiguration>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="user" aria-labelledby="user">
          <br/>
          <div *ngIf="desktopDevice.user == null">
            <a href="#">Add New User</a>
          </div>
          <app-contact *ngIf="desktopDevice.status != null"
                       [contact]="desktopDevice.user"></app-contact>
        </div>
      </div>
    </div>
  </div>
</div>

