<form>
  <fieldset [disabled]="true">
    <h5>Business</h5>
    <div class="row">
      <div class="col-12">
        <div class="form-group row">
          <div class="col-3">
            <label>Name</label>
            <input id="businessName" name="businessName" class="form-control" type="text" [(ngModel)]="business.name">
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
<app-location [location]="business.location"></app-location>
<app-contact [contact]="business.contact"></app-contact>
