<form>
  <fieldset disabled="true">
    <h5>Grid Location</h5>
    <div class="row">
      <div class="col-12">
        <div class="form-group row">
          <div class="col-3">
            <label>X-Coordinate</label>
            <input id="gridLocationX" name="gridLocationX" class="form-control" type="text"
                   [(ngModel)]="gridLocation.x">
          </div>
          <div class="col-3">
            <label>Y-Coordinate</label>
            <input id="gridLocationY" name="gridLocationY" class="form-control" type="text"
                   [(ngModel)]="gridLocation.y">
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
