<form>
  <fieldset id="gridLocationFieldset" [disabled]="true">
    <div class="row">
      <div>
        <h5>Grid Location</h5>
      </div>
      <div>
        &nbsp;&nbsp;<a id="gridLocationEditHref" href="" (click)="edit($event)" hidden>(Edit)</a>
      </div>
      <div>
        &nbsp;&nbsp;<button hidden id="gridLocationSaveBtn" type="button" class="btn btn-primary btn-sm" (click)="save()">Save</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group row">
          <div class="col-3">
            <label>X-Coordinate</label>
            <input id="gridLocationX" name="gridLocationX" class="form-control" type="text"
                   [(ngModel)]="gridLocation.x">
          </div>
          <div class="col-3">
            <label>Y-Coordinate</label>
            <input id="gridLocationY" name="gridLocationY" class="form-control" type="text"
                   [(ngModel)]="gridLocation.y">
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
