<div class="container-fluid">
  <div class="row">
    <a href="/asset-search">Back to Asset Search</a>
  </div>
  <br/>
  <app-util-panel></app-util-panel>
  <div class="row">
    <div class="">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="assetTab" href="#asset" aria-controls="asset" role="tab" data-toggle="tab"
             aria-selected="true">Asset</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="manufacturerTab" href="#manufacturer" aria-controls="manufacturer" role="tab"
             data-toggle="tab" aria-selected="false">Manufacturer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="roomTab" href="#room" aria-controls="room" role="tab" data-toggle="tab"
             aria-selected="false">Room</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="gridTab" href="#grid" aria-controls="grid" role="tab" data-toggle="tab"
             aria-selected="false">Grid</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="rackTab" href="#rack" aria-controls="rack" role="tab" data-toggle="tab"
             aria-selected="false">Rack</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="ownerTab" href="#owner" aria-controls="owner" role="tab" data-toggle="tab"
             aria-selected="false">Owner</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="networkConfigurationTab" href="#networkConfiguration"
             aria-controls="networkConfiguration" role="tab" data-toggle="tab" aria-selected="false">Network
            Configuration</a>
        </li>
      </ul>
      <div class="tab-content" id="tabContent">
        <div role="tabpanel" class="tab-pane fade show active" id="asset" aria-labelledby="assetTab">
          <br/>
          <app-asset [asset]="patchPanel"></app-asset>
          <form>
            <fieldset [disabled]="true">
              <h5>Asset Sub-Details</h5>
              <div class="row">
                <div class="col-10">
                  <div class="form-group row">
                    <div class="col-3">
                      <label>Total # of Ports</label>
                      <input id="patchPanelTotalNumberOfPorts" name="patchPanelTotalNumberOfPorts" class="form-control" type="text" [(ngModel)]="patchPanel.totalNumberOfPorts">
                    </div>
                    <div class="col-3">
                      <label>Port Type</label>
                      <select [(ngModel)]="patchPanel.portType" class="form-control" id="patchPanelPortType" name="patchPanelPortType">
                        <option selected [ngValue]="patchPanel.portType">{{patchPanel.portType}}</option>
                        <option *ngFor="let t of patchPanel.PATCH_PANEL_PORT_TYPES" [ngValue]="t">{{t}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="manufacturer" aria-labelledby="manufacturerTab">
          <br/>
          <app-manufacturer [manufacturer]="patchPanel.manufacturer"></app-manufacturer>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="room" aria-labelledby="roomTab">
          <br/>
          <app-room [room]="patchPanel.room"></app-room>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="grid" aria-labelledby="gridTab">
          <br/>
          <app-grid-location [gridLocation]="patchPanel.gridLocation"></app-grid-location>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="rack" aria-labelledby="rackTab">
          <br/>
          <app-rackable-device [rackableDevice]="patchPanel"></app-rackable-device>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="owner" aria-labelledby="ownerTab">
          <br/>
          <app-business-unit [businessUnit]="patchPanel.owner"></app-business-unit>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="networkConfiguration"
             aria-labelledby="networkConfigurationTab">
          <br/>
          <div *ngIf="patchPanel.networkConfiguration == null">
            <a href="#">Add New Network Configuration</a>
          </div>
          <app-network-configuration *ngIf="patchPanel.networkConfiguration != null"
                                     [networkConfiguration]="patchPanel.networkConfiguration"></app-network-configuration>
        </div>
      </div>
    </div>
  </div>
</div>
