<div class="toolbar" fxLayout="row" style="background: black">

  <div fxLayout="row" fxLayoutAlign="start center" fxHide.gt-sm>
    <button type="button" mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="logo-contrast" *ngIf="sidenavCollapsed"
       fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-sm>
    <img class="logo" alt="logo" src="assets/img/site-logo.png" width="240" height="48">
  </div>

  <div fxLayout="row" fxLayoutAlign="end stretch" fxLayoutAlign.gt-sm="space-between stretch" fxFlex>
    <div class="search-bar" fxHide fxShow.gt-sm
         fxLayout="row" fxLayoutAlign="start center" fxFlex fxFlex.gt-md="500px">
      <vr-search-bar></vr-search-bar>
    </div>
  </div>
</div>

