<div class="container-fluid">
  <div class="row">
    <a href="/asset-search">Back to Asset Search</a>
  </div>
  <br/>
  <div class="row">
    <div class="">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="assetTab" href="#asset" aria-controls="asset" role="tab" data-toggle="tab"
             aria-selected="true">Asset</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="manufacturerTab" href="#manufacturer" aria-controls="manufacturer" role="tab"
             data-toggle="tab" aria-selected="false">Manufacturer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="roomTab" href="#room" aria-controls="room" role="tab" data-toggle="tab"
             aria-selected="false">Room</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="gridTab" href="#grid" aria-controls="grid" role="tab" data-toggle="tab"
             aria-selected="false">Grid</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="rackTab" href="#rack" aria-controls="rack" role="tab" data-toggle="tab"
             aria-selected="false">Rack</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="ownerTab" href="#owner" aria-controls="owner" role="tab" data-toggle="tab"
             aria-selected="false">Owner</a>
        </li>
      </ul>
      <div class="tab-content" id="tabContent">
        <div role="tabpanel" class="tab-pane fade show active" id="asset" aria-labelledby="assetTab">
          <br/>
          <app-asset [asset]="rack"></app-asset>
          <form>
            <fieldset [disabled]="true">
              <h5>Asset Sub-Details</h5>
              <div class="row">
                <div class="col-10">
                  <div class="form-group row">
                    <div class="col-3">
                      <label>U Height</label>
                      <input id="rackUHeight" name="rackUHeight" class="form-control" type="text"
                             [(ngModel)]="rack.uHeight">
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="manufacturer" aria-labelledby="manufacturerTab">
          <br/>
          <app-manufacturer [manufacturer]="rack.manufacturer"></app-manufacturer>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="room" aria-labelledby="roomTab">
          <br/>
          <app-room [room]="rack.room"></app-room>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="grid" aria-labelledby="gridTab">
          <br/>
          <app-grid-location [gridLocation]="rack.gridLocation"></app-grid-location>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="rack" aria-labelledby="rackTab">
          <br/>
          <form>
            <fieldset [disabled]="true">
              <h5>Racked Devices</h5>
              <br/>
              <table id="rackDevices" name="rackDevices" *ngIf="rack.devices != null && rack.devices.length > 0"
                     class="table table-striped table-bordered table-hover table-sm">
                <thead class="thead-dark">
                <tr>
                  <td>Device Name</td>
                  <td>Device Type</td>
                  <td>U Location</td>
                  <td>U Height</td>
                </tr>
                </thead>
                <tr *ngFor="let d of rack.devices">
                  <td><a href [routerLink]="['/'+d.type.toLowerCase().split('_').join('-'), d.id]">{{ d.name
                    }}</a></td>
                  <td>{{d.type}}</td>
                  <td>{{d.uLocation}}</td>
                  <td>{{d.uHeight}}</td>
                </tr>
              </table>
            </fieldset>
          </form>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="owner" aria-labelledby="ownerTab">
          <br/>
          <app-business-unit [businessUnit]="rack.owner"></app-business-unit>
        </div>
      </div>
    </div>
  </div>
</div>
