<form>
  <fieldset id="roomDeviceFieldset" [disabled]="true">
    <div class="row">
      <div>
        <h5>Room</h5>
      </div>
      <div>
        &nbsp;&nbsp;<a id="roomDeviceEditHref" href="" (click)="edit()" hidden>(Edit)</a>
      </div>
      <div>
        &nbsp;&nbsp;<button hidden id="roomDeviceUpdateBtn" type="button" class="btn btn-primary btn-sm"
                            (click)="update()">Update
      </button>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <div class="form-group row">
          <div class="col-3">
            <label>Name</label>
            <input id="roomName" name="roomName" class="form-control" type="text" [(ngModel)]="room.name">
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>

<app-site [site]="room.site"></app-site>
