<form>
  <fieldset id="serviceContractFieldset" [disabled]="true">
    <div class="row">
      <div>
        <h5>Service Contract</h5>
      </div>
      <div>
        &nbsp;&nbsp;<a id="serviceContractEditHref" href="" (click)="edit($event)" hidden>(Edit)</a>
      </div>
      <div>
        &nbsp;&nbsp;<button hidden id="serviceContractSaveBtn" type="button" class="btn btn-primary btn-sm" (click)="save()">Save</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group row">
          <div class="col-3">
            <label>Type</label>
            <input id="serviceContractType" name="serviceContractType" class="form-control" type="text"
                   [(ngModel)]="serviceContract.type">
          </div>
          <div class="col-3">
            <label>Start Date</label>
            <input id="serviceContractStartDate" name="serviceContractStartDate" class="form-control" type="text"
                   [(ngModel)]="serviceContract.startDate">
          </div>
          <div class="col-3">
            <label>End Date</label>
            <input id="serviceContractEndDate" name="serviceContractEndDate" class="form-control" type="text"
                   [(ngModel)]="serviceContract.endDate">
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>

<app-manufacturer [manufacturer]="serviceContract.contractor"></app-manufacturer>

