<form>
  <fieldset id="rackableDeviceFieldset" [disabled]="true">
    <div class="row">
      <div>
        <h5>Rack Details</h5>
      </div>
      <div>
        &nbsp;&nbsp;<a id="rackableDeviceEditHref" href="" (click)="edit()" hidden>(Edit)</a>
      </div>
      <div>
        &nbsp;&nbsp;<button hidden id="rackableDeviceUpdateBtn" type="button" class="btn btn-primary btn-sm"
                            (click)="update()">Update
      </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group row">
          <div class="col-3">
            <label>Zone</label>
            <input id="rackableDeviceZone" name="rackableDeviceZone" class="form-control" type="text"
                   [(ngModel)]="rackableDevice.zone">
          </div>
          <div class="col-3">
            <label>U Location</label>
            <input id="rackableDeviceULocation" name="rackableDeviceULocation" class="form-control" type="text"
                   [(ngModel)]="rackableDevice.ulocation">
          </div>
          <div class="col-3">
            <label>U Height</label>
            <input id="rackableDeviceUHeight" name="rackableDeviceUHeight" class="form-control" type="text"
                   [(ngModel)]="rackableDevice.uheight">
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
