<form>
  <fieldset id="siteFieldset" [disabled]="true">
    <div class="row">
      <div>
        <h5>Site</h5>
      </div>
      <div>
        &nbsp;&nbsp;<a id="siteEditHref" href="" (click)="edit($event)" hidden>(Edit)</a>
      </div>
      <div>
        &nbsp;&nbsp;<button hidden id="siteSaveBtn" type="button" class="btn btn-primary btn-sm" (click)="save()">Save</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group row">
          <div class="col-3">
            <label>Name</label>
            <input id="siteName" name="siteName" class="form-control" type="text" [(ngModel)]="site.name">
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>

<app-location [location]="site.location"></app-location>

