<form>
  <h2>Contact Details</h2>
  <fieldset [disabled]="true">
    <label>First Name</label>
    <input id="contactFirstName" name="contactFirstName" class="form-control" type="text" [(ngModel)]="contact.firstName">
    <label>Last Name</label>
    <input id="contactLastName" name="contactLastName" class="form-control" type="text" [(ngModel)]="contact.lastName">
    <label>Job Title</label>
    <input id="contactJobTitle" name="contactJobTitle" class="form-control" type="text" [(ngModel)]="contact.jobTitle">
    <label>Email</label>
    <input id="contactEmail" name="contactEmail" class="form-control" value="" type="text" [(ngModel)]="contact.email">
    <label>Phone</label>
    <input id="contactPhone" name="contactPhone" class="form-control" type="text" [(ngModel)]="contact.phone">
  </fieldset>
</form>
