<table class="table table-striped" *ngIf="contact">
  <tbody>
  <tr>
    <td colspan="1">
      <form class="well form-horizontal">
        <fieldset>
          <div class="form-group">
            <label class="col-md-4 control-label">First Name</label>
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group"><span class="input-group-addon"><i
                class="glyphicon glyphicon-user"></i></span><input [(ngModel)]="contact.firstName"
                                                                   id="contact.firstName" name="contact.firstName"
                                                                   class="form-control" required="true" type="text">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Last Name</label>
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group"><span class="input-group-addon"><i
                class="glyphicon glyphicon-user"></i></span><input [(ngModel)]="contact.lastName"
                                                                   id="contact.lastName" name="contact.lastName"
                                                                   class="form-control" required="true" type="text">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Job Title</label>
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group"><span class="input-group-addon"><i
                class="glyphicon glyphicon-briefcase"></i></span><input [(ngModel)]="contact.jobTitle"
                                                                        id="contact.jobTitle" name="contact.jobTitle"
                                                                        class="form-control" required="true"
                                                                        type="text">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Email</label>
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group"><span class="input-group-addon"><i
                class="glyphicon glyphicon-envelope"></i></span><input [(ngModel)]="contact.email" id="contact.email"
                                                                       name="contact.email" placeholder="Email"
                                                                       class="form-control" required="true" value=""
                                                                       type="text"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Phone</label>
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group"><span class="input-group-addon"><i
                class="glyphicon glyphicon-earphone"></i></span><input [(ngModel)]="contact.phone" id="contact.phone"
                                                                       name="contact.phone"
                                                                       placeholder="Phone Number" class="form-control"
                                                                       required="true" value="" type="text"></div>
            </div>
          </div>
        </fieldset>
      </form>
    </td>
  </tr>
  </tbody>
</table>
