<div class="container-fluid">
<form>
  <fieldset id="contactFieldset" [disabled]="true">
    <div class="row">
      <div>
        <h5>Contact Details</h5>
      </div>
      <div>
        &nbsp;&nbsp;<a id="contactEditHref" href="" (click)="edit()" hidden>(Edit)</a>
      </div>
      <div>
        &nbsp;&nbsp;<button hidden id="contactUpdateBtn" type="button" class="btn btn-primary btn-sm"
                            (click)="update()">Update
      </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group row">
          <div class="col-3">
            <label>First Name</label>
            <input id="contactFirstName" name="contactFirstName" class="form-control" type="text"
                   [(ngModel)]="contact.firstName">
          </div>
          <div class="col-3">
            <label>Last Name</label>
            <input id="contactLastName" name="contactLastName" class="form-control" type="text"
                   [(ngModel)]="contact.lastName">
          </div>
          <div class="col-3">
            <label>Job Title</label>
            <input id="contactJobTitle" name="contactJobTitle" class="form-control" type="text"
                   [(ngModel)]="contact.jobTitle">
          </div>
          <div class="col-3">
            <label>Email</label>
            <input id="contactEmail" name="contactEmail" class="form-control" value="" type="text"
                   [(ngModel)]="contact.email">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label>Phone</label>
            <input id="contactPhone" name="contactPhone" class="form-control" type="text" [(ngModel)]="contact.phone">
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
</div>
