nav div div a {
  color: white;
  font-weight: bold;
}

nav div ul li a {
  color: white;
  font-weight: bold;
}

.navbar-nav > a {
  margin-left: 10%;
  margin-right: 10%;
}




#wrapper {
  padding: 90px 15px;
}

.navbar-expand-lg .navbar-nav.side-nav {
  flex-direction: column;
}

.card {
  margin-bottom: 15px;
  border-radius: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
}

.header-top {
  box-shadow: 0 3px 5px rgba(0, 0, 0, .1)
}
