 <form>
   <h2>Location</h2>
    <fieldset [disabled]="true">
      <label>Name</label>
      <input id="locationName" name="locationName" class="form-control" type="text" [(ngModel)]="location.name">
      <label>Address</label>
      <input id="locationAddress" name="locationAddress" class="form-control" type="text" [(ngModel)]="location.address">
      <label>City</label>
      <input id="locationCity" name="locationCity" class="form-control" type="text" [(ngModel)]="location.city">
      <label>State</label>
      <input id="locationState" name="locationState" class="form-control" type="text" [(ngModel)]="location.state">
      <label>Zip</label>
      <input id="locationZip" name="locationZip" class="form-control" type="text" [(ngModel)]="location.zip">
      <label>Country</label>
      <input id="locationCountry" name="locationCountry" class="form-control" type="text" [(ngModel)]="location.country">
    </fieldset>
  </form>
