<app-configuration [configuration]="networkConfiguration"></app-configuration>
<form>
  <fieldset id="networkConfigurationFieldset" [disabled]="true">
    <div class="row">
      <div>
        <h5>Network Configuration</h5>
      </div>
      <div>
        &nbsp;&nbsp;<a id="networkConfigurationEditHref" href="" (click)="edit()" hidden>(Edit)</a>
      </div>
      <div>
        &nbsp;&nbsp;<button hidden id="networkConfigurationUpdateBtn" type="button" class="btn btn-primary btn-sm"
                            (click)="update()">Update
      </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group row">
          <div class="col-3">
            <label>Hostname</label>
            <input id="networkConfigurationHostname" name="networkConfigurationHostname" class="form-control"
                   type="text" [(ngModel)]="networkConfiguration.hostname">
          </div>
          <div class="col-3">
            <label>Workgroup</label>
            <input id="networkConfigurationWorkGroup" name="networkConfigurationWorkGroup" class="form-control"
                   type="text" [(ngModel)]="networkConfiguration.workGroup">
          </div>
        </div>
        <div class="form-group row indent-outer">
          <h5>Network Connections</h5>
          <div class="indent-inner" *ngFor="let n of networkConfiguration.networkConnections">
            <app-network-connection [networkConnection]="n"></app-network-connection>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>

