<form>
  <fieldset [disabled]="true">
    <h5>Configuration</h5>
    <div class="row">
      <div class="col-12">
        <div class="form-group row">
          <div class="col-3">
            <label>Type</label>
            <select [(ngModel)]="configuration.configurationType" class="form-control" id="configurationType"
                    name="configurationType">
              <option selected [ngValue]="configuration.configurationType">{{configuration.configurationType}}</option>
              <option *ngFor="let t of configuration.CONFIGURATION_TYPES" [ngValue]="t">{{t}}</option>
            </select>
          </div>
          <div class="col-3">
            <label>Description</label>
            <input id="configurationDescription" name="configurationDescription" class="form-control" type="text"
                   [(ngModel)]="configuration.description" value="">
          </div>
          <div class="col-6">
            <label>Notes</label>
            <textarea id="configurationNotes" name="configurationNotes" class="form-control" type="text"
                      [(ngModel)]="configuration.notes"></textarea>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>

<app-support-unit [supportUnit]="configuration.supportUnit"></app-support-unit>

<app-service-contract [serviceContract]="configuration.serviceContract"></app-service-contract>

