<form>
  <fieldset [disabled]="true">
    <h2>Configuration</h2>
    <div class="row">
      <div class="col-12">
        <div class="form-group row">
          <div class="col-3">
            <label>Type</label>
            <input id="configurationType" name="configurationType" class="form-control" type="text"
                   [(ngModel)]="configuration.configurationType">
          </div>
          <div class="col-3">
            <label>Description</label>
            <input id="configurationDescription" name="configurationDescription" class="form-control" type="text"
                   [(ngModel)]="configuration.description">
          </div>
          <div class="col-6">
            <label>Notes</label>
            <textarea id="configurationNotes" name="configurationNotes" class="form-control" type="text"
                      [(ngModel)]="configuration.notes"></textarea>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>

<app-support-unit [supportUnit]="configuration.supportUnit"></app-support-unit>

<app-service-contract [serviceContract]="configuration.serviceContract"></app-service-contract>

