<!-- Start Navigation Bar ---------------------------------------------------------------------------->
<nav class="navbar navbar-expand-lg" style="background-color: black" height="50">
  <a class="navbar-brand" href="">
    <img src="resources/img/site-logo.png" alt="Site Logo" width="240" height="48"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <div class="navbar-nav">
      <a hidden class="nav-item nav-link active text-nowrap" href [routerLink]="['/dashboard']">Dashboard</a>
      <a hidden class="nav-item nav-link text-nowrap" href [routerLink]="['/asset-search']">Asset Search</a>
      <a hidden class="nav-item nav-link text-nowrap" href="#">Grid Viewer</a>
      <a hidden class="nav-item nav-link text-nowrap" href="#">Path Network</a>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <br/>
  <div class="row">
    &nbsp;&nbsp;&nbsp;
    <div hidden id="statusMessageDiv" name="statusMessageDiv" class="alert alert-success alert-dismissible fade show"
         role="alert">
      <p id="statusMessage" name="statusMessage"></p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <br/>
  <router-outlet></router-outlet>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <hr/>
</div>
