<ul class="nav nav-tabs" id="searchTabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="search-tab" data-toggle="tab" href="#search-form" role="tab"
       aria-controls="search"
       aria-selected="true">Search</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="advanced-search-tab" data-toggle="tab" href="#advanced-search-form" role="tab"
       aria-controls="advanced-search" aria-selected="true">Advanced Search</a>
  </li>
</ul>
<div class="tab-content">
  <br/>
  <app-asset-search></app-asset-search>
  <app-advanaced-asset-search></app-advanaced-asset-search>
</div>
<hr/>
<!-- Start Asset Search Results Table ---------------------------------------------------------------------------->
<router-outlet></router-outlet>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<!-- Start Footer ---------------------------------------------------------------------------->
<div class="footer">
  <p><i>Check out the new logo that I created on <a href="http://logomakr.com" title="Logo Makr">LogoMakr.com</a>
    https://logomakr.com/6pNm5f</i></p>
</div>
