<div class="tab-pane fade show active" id="search-form" role="tabpanel" aria-labelledby="search-tab">
  <form id="assetSearchForm">
    <div class="form-group row">
      <div class="col-sm-1">
        <label class="col-sm-1 col-form-label">Name: </label>
      </div>
      <div class="col-4">
        <input [(ngModel)]="searchName" type="text" class="form-control" id="searchName" name="searchName"
               placeholder="Search Text" required>
      </div>
      <div class="col-1">
        <button type="button" class="btn btn-dark" (click)="search()">Search</button>
      </div>
    </div>
  </form>
</div>
