<form>
  <fieldset [disabled]="true">
    <div class="row">
      <div class="col-10">
        <div class="form-group row">
          <div class="col-3">
            <label>Type</label>
            <input id="networkConnectionType" name="networkConnectionType" class="form-control" type="text"
                   [(ngModel)]="networkConnection.type">
          </div>
          <div class="col-3">
            <label>Backup</label>
            <input id="networkConnectionBackup" name="networkConnectionBackup" class="form-control" type="checkbox"
                   [checked]="networkConnection.backup">
          </div>
          <div class="col-3">
            <label>IP Address</label>
            <input id="networkConnectionIpAddress" name="networkConnectionIpAddress" class="form-control" type="text"
                   [(ngModel)]="networkConnection.ipAddress">
          </div>
          <div class="col-3">
            <label>MAC Address</label>
            <input id="networkConnectionMacAddress" name="networkConnectionMacAddress" class="form-control" type="text"
                   [(ngModel)]="networkConnection.macAddress">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label>Speed (Gbps)</label>
            <input id="networkConnectionSpeed" name="networkConnectionMacSpeed" class="form-control" type="text"
                   [(ngModel)]="networkConnection.speed">
          </div>
          <div class="col-3">
            <label>Notes</label>
            <textarea id="networkConnectionNotes" name="networkConnectionNotes" class="form-control" type="text"
                      [(ngModel)]="networkConnection.notes"></textarea>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
<hr/>
