<div class="tall">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab">Device Details</a></li>
    <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab">Manufacturer</a></li>
    <li role="presentation"><a href="#tab3" role="tab" data-toggle="tab">Location</a></li>
    <li role="presentation"><a href="#tab4" role="tab" data-toggle="tab">Support</a></li>
    <li role="presentation"><a href="#tab5" role="tab" data-toggle="tab">Configuration</a></li>
  </ul>
  <!------------------------------------------------- Details Pane ------------------------------------------------------>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab1">
      <div class="row">
        <div class="col-md-6">
          <h2>Device Details</h2>
          <form class="well form-horizontal">
            <fieldset>
              <div class="form-group">
                <label class="col-md-4 control-label">Asset Id</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">

                    <input id="id" name="id" class="form-control"
                           value="" type="text" [(ngModel)]="serverDevice.id" disabled>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Name</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-home"></i></span><input id="name" name="name"
                                                                       class="form-control"
                                                                       value="" type="text"
                                                                       [(ngModel)]="serverDevice.name" disabled></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Type</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-home"></i></span>
                    <select class="col-3" [(ngModel)]="serverDevice.type" class="form-control" id="type"
                            name="type">
                      <option *ngFor="let t of serverDevice.ASSET_TYPES" [ngValue]="t"
                              [selected]="t === serverDevice.type">{{t}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Status</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-home"></i></span>
                    <select class="col-3" [(ngModel)]="serverDevice.status" class="form-control" id="status"
                            name="status">
                      <option *ngFor="let s of serverDevice.ASSET_STATUS" [ngValue]="s">{{s}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Serial</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-home"></i></span><input id="serial" name="serial"
                                                                       class="form-control"
                                                                       value="" type="text"
                                                                       [(ngModel)]="serverDevice.serial" disabled></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Part #</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-home"></i></span><input id="partNumber" partNumber="partNumber"
                                                                       class="form-control"
                                                                       value="" type="text"
                                                                       [(ngModel)]="serverDevice.partNumber" disabled>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Purchase Order #</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-home"></i></span><input id="purchaseOrderNumber"
                                                                       name="purchaseOrderNumber"
                                                                       class="form-control"
                                                                       value="" type="text"
                                                                       [(ngModel)]="serverDevice.purchaseOrderNumber"
                                                                       disabled></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Cost ($)</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-home"></i></span><input id="cost"
                                                                       name="cost"
                                                                       class="form-control"
                                                                       value="" type="text"
                                                                       [(ngModel)]="serverDevice.cost"
                                                                       disabled></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Model</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-home"></i></span><input id="model" model="model"
                                                                       class="form-control"
                                                                       value="" type="text"
                                                                       [(ngModel)]="serverDevice.model" disabled></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Description</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-home"></i></span><textarea id="description" name="description"
                                                                          class="form-control"
                                                                          value="" type="text"
                                                                          [(ngModel)]="serverDevice.description"
                                                                          disabled></textarea></div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="col-md-6">
          <img src="http://i2.cc-inc.com/prod/40721000/40721666_xxlg_0.jpg" alt="Device Image" class="img-thumbnail fa-pull-right" width="200" height="200">
          <input hidden id="imageURL" name="imageURL" class="form-control"
                 value="" type="text" [(ngModel)]="serverDevice.imageURL" disabled>
        </div>
      </div>
    </div>
    <!---------------------------------------- Manufacturer pane ------------------------------------------------------>
    <div role="tabpanel" class="tab-pane" id="tab2">
      <div class="row">
        <div class="col-lg-12">
          <h2>Manufacturer Details</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <form class="well form-horizontal">
            <fieldset>
              <div class="form-group">
                <label class="col-md-4 control-label">Name</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">
                    <input id="manufacturerName" name="manufacturerName"
                           class="form-control"
                           value="" type="text" [(ngModel)]="serverDevice.manufacturer.name" disabled>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Address</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-home"></i></span><input id="manufacturerAddress"
                                                                       name="manufacturerAddress"

                                                                       class="form-control"
                                                                       [(ngModel)]="serverDevice.manufacturer.location.address"
                                                                       type="text" disabled></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">City</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-home"></i></span><input id="manufacturerCity" name="manufacturerCity"

                                                                       class="form-control"
                                                                       [(ngModel)]="serverDevice.manufacturer.location.city"
                                                                       type="text" disabled></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">State/Province/Region</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-home"></i></span><input id="manufacturerState" name="manufacturerState"

                                                                       class="form-control"
                                                                       [(ngModel)]="serverDevice.manufacturer.location.state"
                                                                       type="text" disabled></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Postal Code/ZIP</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-home"></i></span><input id="manufacturerZip"
                                                                       name="manufacturerZip"

                                                                       class="form-control"
                                                                       [(ngModel)]="serverDevice.manufacturer.location.zip"
                                                                       type="text"></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Country</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-home"></i></span><input id="manufacturerCountry"
                                                                       name="manufacturerCountry"

                                                                       class="form-control"
                                                                       [(ngModel)]="serverDevice.manufacturer.location.country"
                                                                       type="text" disabled></div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h2>Manufacturer Contact Details</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <form class="well form-horizontal">
            <fieldset>
              <div class="form-group">
                <label class="col-md-4 control-label">Contact First Name</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span><input
                    id="manufacturerContactFirstName" name="manufacturerContactFirstName"
                    class="form-control" value=""
                    type="text" [(ngModel)]="serverDevice.manufacturer.contact.firstName" disabled></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Contact Last Name</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span><input
                    id="manufacturerContactLastName" name="manufacturerContactLastName"
                    class="form-control" value=""
                    type="text" [(ngModel)]="serverDevice.manufacturer.contact.lastName" disabled></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Contact Job Title</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span><input
                    id="manufacturerContactJobTitle" name="manufacturerContactJobTitle"
                    class="form-control" value=""
                    type="text" [(ngModel)]="serverDevice.manufacturer.contact.jobTitle" disabled></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Contact Email</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span><input
                    id="manufacturerContactEmail" name="manufacturerContactEmail"
                    class="form-control" value=""
                    type="text" [(ngModel)]="serverDevice.manufacturer.contact.email" disabled></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Contact Phone Number</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span><input
                    id="manufacturerContactPhone" name="manufacturerContactPhone"
                    class="form-control"
                    value="" type="text" [(ngModel)]="serverDevice.manufacturer.contact.phone" disabled></div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <!---------------------------------------- Location pane ------------------------------------------------------>
    <div role="tabpanel" class="tab-pane" id="tab3">
      <div class="row">
        <div class="col-lg-12">
          <h2>Location Details</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <form class="well form-horizontal">
            <fieldset>
              <div class="form-group">
                <label class="col-md-4 control-label">Room Name</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">
                    <input id="roomName" name="roomName"
                           class="form-control"
                           value="" type="text" [(ngModel)]="serverDevice.room.name" disabled>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Site Name</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">

                    <input id="roomSiteName" name="roomSiteName"
                           class="form-control"
                           value="" type="text" [(ngModel)]="serverDevice.room.site.name" disabled>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Address</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-home"></i></span><input id="roomSiteLocationAddress"
                                                                       name="roomSiteLocationAddress"

                                                                       class="form-control"
                                                                       [(ngModel)]="serverDevice.room.site.location.address"
                                                                       type="text" disabled></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">City</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-home"></i></span><input id="roomSiteLocationCity"
                                                                       name="roomSiteLocationCity"

                                                                       class="form-control"
                                                                       [(ngModel)]="serverDevice.room.site.location.city"
                                                                       type="text" disabled></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">State/Province/Region</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-home"></i></span><input id="roomSiteLocationState"
                                                                       name="roomSiteLocationState"

                                                                       class="form-control"
                                                                       [(ngModel)]="serverDevice.room.site.location.state"
                                                                       type="text" disabled></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Postal Code/ZIP</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-home"></i></span><input id="roomSiteLocationZip"
                                                                       name="roomSiteLocationZip"

                                                                       class="form-control"
                                                                       [(ngModel)]="serverDevice.room.site.location.zip"
                                                                       type="text"></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Country</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-home"></i></span><input id="roomSiteLocationCountry"
                                                                       name="roomSiteLocationCountry"

                                                                       class="form-control"
                                                                       [(ngModel)]="serverDevice.room.site.location.country"
                                                                       type="text" disabled></div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="col-md-6">
          <h3 class="noTop">Grid Location</h3>
          <form class="well form-horizontal">
            <fieldset>
              <div class="form-group">
                <label class="col-md-4 control-label">Zone</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">

                    <input id="zone" name="zone"
                           class="form-control"
                           value="" type="text" [(ngModel)]="serverDevice.zone" disabled>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">X-Coordinate</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">

                    <input id="gridLocationX" name="gridLocationX"
                           class="form-control"
                           value="" type="text" [(ngModel)]="serverDevice.gridLocation.x" disabled>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Y-Coordinate</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">

                    <input id="gridLocationY" name="gridLocationY"
                           class="form-control"
                           value="" type="text" [(ngModel)]="serverDevice.gridLocation.y" disabled>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Rack Name</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">

                    <input id="rackName" name="rackName"
                           class="form-control"
                           value="" type="text" [(ngModel)]="serverDevice.rack.name" disabled>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Rack U Location</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">

                    <input id="uLocation" name="uLocation"
                           class="form-control"
                           value="" type="text" [(ngModel)]="serverDevice.uLocation" disabled>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <!---------------------------------------- Support pane ------------------------------------------------------>
    <div role="tabpanel" class="tab-pane" id="tab4">
      <div class="row">
        <div class="col-lg-12">
          <h2>LOB Support Details</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <form class="well form-horizontal">
            <fieldset>
              <div class="form-group">
                <label class="col-md-4 control-label">Contact First Name</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-envelope"></i></span><input
                    id="ownerContactFirstName" name="ownerContactFirstName"
                    class="form-control" value=""
                    type="text" [(ngModel)]="serverDevice.owner.contact.firstName" disabled></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Contact Last Name</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-envelope"></i></span><input
                    id="ownerContactLastName" name="ownerContactLastName"
                    class="form-control" value=""
                    type="text" [(ngModel)]="serverDevice.owner.contact.lastName" disabled></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Contact Job Title</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-envelope"></i></span><input
                    id="ownerContactJobTitle" name="ownerContactJobTitle"
                    class="form-control" value=""
                    type="text" [(ngModel)]="serverDevice.owner.contact.jobTitle" disabled></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Contact Email</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-envelope"></i></span><input
                    id="ownerContactEmail" name="ownerContactEmail"
                    class="form-control" value=""
                    type="text" [(ngModel)]="serverDevice.owner.contact.email" disabled></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Contact Phone Number</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-earphone"></i></span><input
                    id="ownerContactPhone" name="ownerContactPhone"
                    class="form-control"
                    value="" type="text" [(ngModel)]="serverDevice.owner.contact.phone" disabled></div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="col-md-6">
          <h3 class="noTop">Business</h3>
          <form class="well form-horizontal">
            <fieldset>
              <div class="form-group">
                <label class="col-md-4 control-label">Name</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-earphone"></i></span><input
                    id="ownerBusinessName" name="ownerBusinessName"
                    class="form-control"
                    value="" type="text" [(ngModel)]="serverDevice.owner.business.name" disabled></div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <!---------------------------------------- Configuration pane ------------------------------------------------------>
    <div role="tabpanel" class="tab-pane" id="tab5">
      <div class="row">
        <div class="col-lg-12">
          <h2>Device Configuration</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="http://ljasoft.com/ljasoft/Coming.gif"/>
        </div>
      </div>
    </div>
  </div>
</div>
