<app-configuration [configuration]="osConfiguration"></app-configuration>
<div class="container-fluid">
<form>
  <fieldset id="osConfigurationFieldset" [disabled]="true">
    <div class="row">
      <div>
        <h5>OS Configuration</h5>
      </div>
      <div>
        &nbsp;&nbsp;<a id="osConfigurationEditHref" href="" (click)="edit()" hidden>(Edit)</a>
      </div>
      <div>
        &nbsp;&nbsp;<button hidden id="osConfigurationUpdateBtn" type="button" class="btn btn-primary btn-sm"
                            (click)="update()">Update
      </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group row">
          <div class="col-3">
            <label>Developer</label>
            <input id="osConfigurationDeveloper" name="osConfigurationDeveloper" class="form-control" type="text" [(ngModel)]="osConfiguration.developer">
          </div>
          <div class="col-3">
            <label>Version</label>
            <input id="osConfigurationVersion" name="osConfigurationVersion" class="form-control" type="text" [(ngModel)]="osConfiguration.version">
          </div>
          <div class="col-3">
            <label>Release</label>
            <input id="osConfigurationRelease" name="osConfigurationRelease" class="form-control" type="text" [(ngModel)]="osConfiguration.release">
          </div>
          <div class="col-3">
            <label>License</label>
            <input id="osConfigurationLicense" name="osConfigurationLicense" class="form-control" type="text" [(ngModel)]="osConfiguration.license">
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
</div>

