<div class="container-fluid">
  <div class="form-group row">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-xs-6">
      <label class="col-sm-1 col-form-label select-label">Country</label>
      <select class="col-xs-6" [(ngModel)]="selectedCountry" class="form-control" id="country" name="country"
              (ngModelChange)="switchCountry()">
        <option *ngFor="let c of countries" [ngValue]="c">{{c}}</option>
      </select>
    </div>
    &nbsp;
    <div class="col-xs-6">
      <label class="col-sm-1 col-form-label select-label">Site</label>
      <select class="col-xs-6" [(ngModel)]="selectedSite" class="form-control" id="site" name="site"
              (ngModelChange)="switchSite()">
        <option *ngFor="let s of sites" [ngValue]="s">{{s}}</option>
      </select>
    </div>
    &nbsp;
    <div class="col-xs-6">
      <label class="col-sm-1 col-form-label select-label">Room</label>
      <select class="col-xs-6" [(ngModel)]="selectedRoom" class="form-control" id="room" name="room"
              (ngModelChange)="switchRoom()">
        <option *ngFor="let r of rooms" [ngValue]="r">{{r}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Try Other</h5>
          <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
          <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view
            all Bootstrap Menu versions.</p>
          <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
          <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Try Other</h5>
          <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
          <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view
            all Bootstrap Menu versions.</p>
          <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
          <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Try Other</h5>
          <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
          <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view
            all Bootstrap Menu versions.</p>
          <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
          <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Try Other</h5>
          <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
          <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view
            all Bootstrap Menu versions.</p>
          <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
          <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Try Other</h5>
          <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
          <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view
            all Bootstrap Menu versions.</p>
          <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
          <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Try Other</h5>
          <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
          <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view
            all Bootstrap Menu versions.</p>
          <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
          <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>
