<form>
  <fieldset [disabled]="true">
    <h2>Manufacturer</h2>
    <div class="row">
      <div class="col-10">
        <div class="form-group row">
          <div class="col-3">
            <label>Name</label>
            <input id="manufacturerName" name="manufacturerName" class="form-control" type="text"
                   [(ngModel)]="manufacturer.name">
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>

<app-location [location]="manufacturer.location"></app-location>

<app-contact [contact]="manufacturer.contact"></app-contact>

