<div class="container-fluid">
<form>
  <fieldset id="manufacturerFieldset" [disabled]="true">
    <div class="row">
      <div>
        <h5>Manufacturer</h5>
      </div>
      <div>
        &nbsp;&nbsp;<a id="manufacturerEditHref" href="" (click)="edit()" hidden>(Edit)</a>
      </div>
      <div>
        &nbsp;&nbsp;<button hidden id="manufacturerUpdateBtn" type="button" class="btn btn-primary btn-sm"
                            (click)="update()">Update
      </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group row">
          <div class="col-3">
            <label>Name</label>
            <input id="manufacturerName" name="manufacturerName" class="form-control" type="text"
                   [(ngModel)]="manufacturer.name">
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
</div>

<app-location [location]="manufacturer.location"></app-location>

<app-contact [contact]="manufacturer.contact"></app-contact>

