<div *ngIf="assets !== undefined && assets.length <= 0" class="alert alert-danger col-6" role="alert">
  No assets with the name <b>'{{searchValue}}'</b> were found.
</div>
<table *ngIf="assets !== undefined && assets.length > 0"
       class="table table-striped table-bordered table-hover table-sm">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Asset Type</th>
    <th scope="col">Manufacturer</th>
    <th scope="col">Model</th>
    <th scope="col">Location</th>
    <th scope="col">Room</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let asset of assets">
    <td>{{ asset.id }}</td>
    <td><a href [routerLink]="['/asset', asset.id]"> {{ asset.name }}</a></td>
    <td>{{ asset.type }}</td>
    <td>{{ asset.manufacturer.name }}</td>
    <td>{{ asset.model }}</td>
    <td>{{ asset.location.name }}</td>
    <td>{{ asset.room.name }}</td>
  </tr>
  </tbody>
</table>
